@import "bootstrap";

$bars-back: #A4B0BA ;
$bars_text: #003300;
$obj_body: #eef2f3 ;
$head_text: #FFF ;

/* Main layout */
body {
  
  background: -webkit-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* W3C */
        
  margin-bottom: 60px;
}

.navbar-default{
  background: rgba(250,250,250, 0.5);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  border: none;
  .navbar-brand{
    color: $bars_text;
    font-weight: bold;
  }
}

.navbar-right{
  .btn-default{
  background-color: $obj_body;
  }
}

.col-lg-12{
  margin-left: 50px;
  margin-right: 40px;
}

/* small elements */

.badge-rating {
  background-color: #d58512;
}

.badge-count {
  background-color: green;
}

tr,td,th {
  text-align: center;
  .first{
    text-align: left;
  }
}

/* big elements */

.panel{
  .panel-heading{
  background-color: $bars-back;
  color: $head_text;
  }
  
  .panel-footer{
  background-color: $bars-back;
  color: $head_text;
  a{
    color: #D7F7F7;
    } 
  }

  .panel-body.color-body{
    background-color: $obj_body;

  }
}

.well{
  background-color: $obj_body;
  color: $bars_text;
 
}

.well.well-sm{
  background-color: $bars-back;
  color: #FFF;
  a{
    color: #D7F7F7;
  } 
}