.col-md-6
  %div.panel.panel-default
    .panel-heading
      %h1 Editing product
    .panel-body.color-body
      = render 'form'

  = link_to 'Show', category_product_path(category, product), class: 'btn btn-info'
  = link_to 'Back', category_path(category), class: 'btn btn-info'
