%nav.navbar.navbar-default
  %div.container-fluid
    %div.navbar-header
      %span.navbar-brand #{AppConfig.workshops_name}
    %ul.nav.navbar-nav.navbar-right
      -if user_signed_in?
        %li
          %span.navbar-brand.glyphicon.glyphicon-leaf
          /%span.navbar-brand #{username}
      
      %li  
        =link_to root_path, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-home
          %b Home
      -if user_signed_in?

        %li    
          =link_to destroy_user_session_path, method: :delete, class: 'btn btn-default' do
            %span.glyphicon.glyphicon-log-out
            %b Log out
      -else
        %li    
          =link_to new_user_session_path, class: 'btn btn-default' do
            %span.glyphicon.glyphicon-log-in
            %b Log in